.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.upload {
  width: 300px;
  margin: 0 auto;
  padding: 20px 0;
}

.galeryWrapper {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999; */
}
.galery {
  /* max-width: 800px;
  margin: 0 auto; */
  display: flex;
  align-items: center;
}

.prev,
.next {
  cursor: pointer;
  padding: 10px;
  background: blue;
  color: white;
}

.content {
  width: 90vw;
  height: auto;
}
